{% extends 'base.html.twig' %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/styles.css') }}"> {% endblock %}

{% block starships %}

	<div class="collections">
		{% for starships in starships %}
			{% if starships.image %}
				<div class="card ">
					<h4 style="color: white; height: 30px; font-size: clamp(16px, 2vw, 20px); margin:0px;">{{starships.name}}</h4>
					<a href="{{path("showStarship",{"id":starships.id})}}" class="" style="padding: 0px; width: auto; height: auto;">
						<img src="{{starships.image}}" alt="starships" class="card-img-top">
					</a>
					<div style="display: flex; width: 100%; justify-content: space-around; ">
						{% if is_granted('ROLE_ADMIN') %}
						<a href="{{path("editStarship", {"id":starships.id})}}" class="btn btn-success" style="padding: 0px; width: 55px">Editar</a>
						<a href="{{path("deleteStarship", {"id":starships.id})}}" class="btn btn-danger" style="padding: 0px; width: 55px">Borrar</a>
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}