{% extends 'base.html.twig' %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/styles.css') }}"> {% endblock %}

{% block films %}
		<div class="collections row row-cols-1 row-cols-md-2 mt-3 d-flex" style="width: 90%; height: auto; background-color: black; color">
		{% for film in films %}
			<div class="card" style="width: 15rem; height:auto; margin: 15px; background-color: black;">
				<h4 class="card-header text-center" style="color: white; height: 60px; font-size: 22px;">{{film.title}}</h4>
				<p class="card-header text-center" style="color: white; height: 35px; font-size: 14px;">Episodio {{film.episodeId}}</p>
				<a href="{{path("showFilm",{"id":film.episodeId})}}" class="" style="padding: 0px; width: auto; height: auto;">
					<img src="{{film.image}}" alt="film" class="imgCollection card-img-top" style="height:400px; object-fit: contain;">
				</a>
				<div class="card-body">
					<p class="card-text text-justify" style="overflow:hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; color: white;">{{film.openingCrawl}}</p>
					<div style="display: flex; width: 100%; justify-content: space-around; ">
					{# {% if is_granted('ROLE_ADMIN') %} #}
					<a href="{{path("editFilm", {"id":film.episodeId})}}" class="btn btn-success" style="padding: 0px; width: 55px">Editar</a>
					<a href="{{path("deleteFilm", {"id":film.episodeId})}}" class="btn btn-danger" style="padding: 0px; width: 55px">Borrar</a>
					{# {% endif %} #}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
