{% extends 'base.html.twig' %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/styles.css') }}"> {% endblock %}

{% block planets %}

	<div class="collections">
		{% for planet in planets %}
			{% if planet.image %}
				<div class="card">
					<h4 style="color: white; height: 30px; font-size: clamp(16px, 2vw, 20px); margin:0px;">{{planet.name}}</h4>
					<a href="{{path("showPlanet",{"id":planet.id})}}">
						<img src="{{planet.image}}" alt="planet" class="card-img-top">
					</a>
					<div
						style="display: flex; width: 100%; justify-content: space-around; ">
						{% if is_granted('ROLE_ADMIN') %}
						<a href="{{path("editPlanet", {"id":planet.id})}}" class="btn btn-success" style="padding: 0px; width: 55px">Editar</a>
						<a href="{{path("deletePlanet", {"id":planet.id})}}" class="btn btn-danger" style="padding: 0px; width: 55px">Borrar</a>
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
