{% extends 'base.html.twig' %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/styles.css') }}"> {% endblock %}
{% block showPlanet %}
<div class="row row-cols-1 row-cols-md-2 mt-3 d-flex flex-column justify-content-center align-items-center" style="width: 95vw; height: auto; background-color: black;">
		<h2 style="color: yellow; font-size: 36px; font-family: 'Montserrat', sans-serif; font-weight: 500;">{{planet.name}}</h2>
		<div class="tarjet">
			<div class="imgTarjet">
				<img src="{{(planet.image)}}" alt="film">
			</div>
			<div class="textTarjet">
                <p><strong>Poblacion :</strong> {{planet.population}}</p>
                <p><strong>Diámetro :</strong> {{planet.diameter}} km</p>  
                <p><strong>Gravity :</strong> {{planet.gravity}}</p>
                <p><strong>Terreno :</strong> {{planet.terrain}}</p>  
                <p><strong>Clima :</strong> {{planet.climate}}</p>
                <p><strong>Periodo Orbital :</strong> {{planet.orbitalPeriod}} días</p>
                <p><strong>Periodo Rotación :</strong> {{planet.rotationPeriod}} horas</p>
            </div>
        </div>
    </div>

<h3 style="width: 90%; font-size: clamp(24px, 2.5vw, 32px); margin-top:30px; text-align: left; color:yellow; font-family: 'Montserrat', sans-serif; font-weight: 600;">{{planet.name}} es Planeta Natal de</h3>
<div class="collections">
	{% for character in planet.characters %}
		<div class="card">
			<h4 class="card-header" style="color: white; height: 50px; font-size: 16px;">{{character.name}}</h4>
			<a href="{{path("showCharacter",{"id":character.id})}}">
				<img src="{{character.image}}" alt="character" class="card-img-top">
			</a>
			<div
				style="display: flex; width: 100%; justify-content: space-evenly; margin-top: 10px;">
				{# {% if is_granted('ROLE_ADMIN') %} #}
				<a href="{{path("editCharacter", {"id":character.id})}}" class="btn btn-success" style="padding: 0px; width: 55px">Editar</a>
				<a href="{{path("deleteCharacter", {"id":character.id})}}" class="btn btn-danger" style="padding: 0px; width: 55px">Borrar</a>
				{# {% endif %} #}
			</div>
		</div>
	{% endfor %}
</div>

<h3 style="width: 90%; font-size: clamp(24px, 2.5vw, 32px); margin-top:30px; text-align: left; color:yellow; font-family: 'Montserrat', sans-serif; font-weight: 600;">Películas en las que aparece {{planet.name}}</h3>
    <div class="collections">
        {% for film in planet.films %}
                <div class="card">
                    <h4 class="card-header" style="color: white; height: 70px; font-size: 16px;">{{film.title}}</h4>
                    <a href="{{path("showFilm",{"id":film.id})}}">
                        <img src="{{film.image}}" alt="film" class="card-img-top">
                    </a>
                    <div style="display: flex; width: 100%; justify-content: space-evenly;">
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{path("editFilm", {"id":film.episodeId})}}" class="btn btn-success" style="padding: 0px; width: 55px">Editar</a>
                        <a href="{{path("deleteFilm", {"id":film.episodeId})}}" class="btn btn-danger" style="padding: 0px; width: 55px">Borrar</a>
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
    </div>
</div> 
{% endblock %}