{% extends 'base.html.twig' %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/styles.css') }}"> {% endblock %}
{% block showCharacter %}
	<div class="row row-cols-1 row-cols-md-2 mt-3 d-flex flex-column justify-content-center align-items-center" style="width: 95vw; height: auto; background-color: black;">
		<h2 style="color: yellow; font-size: 36px; font-family: 'Montserrat', sans-serif; font-weight: 500;">{{character.name}}</h2>
		<div class="tarjet">
			<div class="imgTarjet">
				<img src="{{(character.image)}}" alt="film">
			</div>
			<div class="textTarjet">
                <p><strong>Planetal Natal:</strong> {{character.planet.name}}</p>
                <p><strong>Especie:</strong> {{character.species}}</p>  
                <p><strong>Altura:</strong> {{character.height}}</p>  
                <p><strong>Masa:</strong> {{character.mass}}</p>  
                <p><strong>Nacimiento:</strong> {{character.birthYear}}</p>
            </div>
            
        </div>
    </div>

    <h3 style="width: 95%; margin-top:20px; text-align: left; color:yellow; font-family: 'Montserrat', sans-serif; font-weight: 600;">Naves Espaciales pilotadas por {{character.name}}</h3>
    <div class="collections">
        {% for starship in character.starships %}
                <div class="card">
                <h4 class="card-header" style="color: white; height: 70px; font-size: 16px;">{{starship.name}}</h4>
                <a href="{{path("showStarship",{"id":starship.id})}}">
                    <img src="{{starship.image}}" alt="starship" class="card-img-top">
                </a>
                <p class="card-text" style="color: white; font-size: 16px;" >{{starship.model}}</p>                    
                <div style="display: flex; width: 100%; justify-content: space-around;">
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{path("editStarship", {"id":starship.id})}}" class="btn btn-success" style="padding: 0px; width: 55px">Editar</a>
                    <a href="{{path("deleteStarship", {"id":starship.id})}}" class="btn btn-danger" style="padding: 0px; width: 55px">Borrar</a>
                    {% endif %}
                </div>

		    </div>
        {% endfor %}
    </div>
    <h3 style="width: 95%; margin-top:30px; text-align: left; color:yellow; font-family: 'Montserrat', sans-serif; font-weight: 600;">Películas en las que aparece {{character.name}}</h3>
    <div class="collections">
        {% for film in character.films %}
                <div class="card">
                    <h4 class="card-header" style="color: white; height: 50px; font-size: 16px;">{{film.title}}</h4>
                    <a href="{{path("showFilm",{"id":film.id})}}">
                        <img src="{{film.image}}" alt="film" class="card-img-top">
                    </a>
                    <div style="display: flex; width: 100%; justify-content: space-evenly; margin-top: 10px;">
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{path("editFilm", {"id":film.episodeId})}}" class="btn btn-success" style="padding: 0px; width: 55px">Editar</a>
                        <a href="{{path("deleteFilm", {"id":film.episodeId})}}" class="btn btn-danger" style="padding: 0px; width: 55px">Borrar</a>
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
    </div>
</div> 
{% endblock %}